<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
</head>
<body>
 <style> div {width: 450px;}</style>
<div>
  <h1 style="font-size:30px;color:black;font-weight: bold;">
    <strong>Witaj na moje stronie domowej</strong>
</h1>
<img src="https://uploads.kodilla.com/bootcamp/py/08/code.jpg" alt="Laptop screen with code" title="Code">
<h2 style ="color: blue;font-size: 24;font-weight: bold">
    <strong>O mnie</strong>
</h2>

  <ul> email: EmerykMajewski@jourrapide.com </ul>
  <ul> telefon: (+1111) 111 111 111</ul>
  <h4>Wiadomość:</h4>
  <form>
      <input type="Prześlij">
      <input type="button" value="Prześlij">
  </form>
  </div>
</body>
</html>